* {
    font-family: "Iosevka Nerd Font", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: #0d1a1f;
    border-bottom: 1px solid #1e3840;
    color: #a8c4c8;
}

button {
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

button:hover {
    background: #1e3840;
    box-shadow: none;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #2d5060;
}

#workspaces button:hover {
    background: #122028;
    color: #a8c4c8;
}

#workspaces button.focused {
    background-color: #1e3840;
    color: #5abbc0;
}

#workspaces button.urgent {
    background-color: #cc5555;
    color: #0d1a1f;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#language {
    padding: 0 10px;
    margin: 0 2px;
    background-color: #0d1a1f;
    color: #a8c4c8;
    border-left: 1px solid #1e3840;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #c8dde0;
    font-weight: bold;
}

#battery {
    color: #a8c4c8;
}

#battery.charging, #battery.plugged {
    color: #2a8855;
}

#battery.critical:not(.charging) {
    background-color: #cc5555;
    color: #0d1a1f;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #0d1a1f;
        color: #cc5555;
    }
}

#cpu {
    color: #5a9aaa;
}

#memory {
    color: #5a9aaa;
}

#disk {
    color: #5a9aaa;
}

#backlight {
    color: #a8c4c8;
}

#network {
    color: #5abbc0;
}

#network.disconnected {
    color: #2d5060;
}

#pulseaudio,
#wireplumber {
    color: #a8c4c8;
}

#pulseaudio.muted,
#wireplumber.muted {
    color: #2d5060;
}

#temperature {
    color: #5a9aaa;
}

#temperature.critical {
    color: #cc5555;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    background-color: #cc5555;
    color: #0d1a1f;
}

#idle_inhibitor {
    color: #5a9aaa;
}

#idle_inhibitor.activated {
    color: #5abbc0;
}

#language {
    color: #3a9aaa;
    min-width: 16px;
}

#mode {
    background-color: #1e3840;
    color: #5abbc0;
    font-weight: bold;
}
