* {
    font-family: Iosevka, FontAwesome, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: #000000;
    border-bottom: 2px solid #333333;
    color: #9e9e9e;
}

button {
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

button:hover {
    background: #111111;
    box-shadow: none;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #888888;
}

#workspaces button:hover {
    background: #111111;
    color: #9e9e9e;
}

#workspaces button.focused {
    background-color: #5f8787;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #5f8787;
    color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#language {
    padding: 0 10px;
    margin: 0 2px;
    background-color: #000000;
    color: #9e9e9e;
    border-left: 1px solid #333333;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #c1c1c1;
    font-weight: bold;
}

#battery {
    color: #aaaaaa;
}

#battery.charging, #battery.plugged {
    color: #5f8787;
}

#battery.critical:not(.charging) {
    background-color: #5f8787;
    color: #000000;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: #5f8787;
    }
}

#cpu {
    color: #888888;
}

#memory {
    color: #888888;
}

#disk {
    color: #888888;
}

#backlight {
    color: #aaaaaa;
}

#network {
    color: #5f8787;
}

#network.disconnected {
    color: #556677;
}

#pulseaudio,
#wireplumber {
    color: #aaaaaa;
}

#pulseaudio.muted,
#wireplumber.muted {
    color: #556677;
}

#temperature {
    color: #888888;
}

#temperature.critical {
    color: #5f8787;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    background-color: #5f8787;
    color: #000000;
}

#idle_inhibitor {
    color: #888888;
}

#idle_inhibitor.activated {
    color: #5f8787;
}

#language {
    color: #5f8787;
    min-width: 16px;
}

#mode {
    background-color: #5f8787;
    color: #000000;
    font-weight: bold;
}
